<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liquid to Jinja Converter</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .textarea-container {
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4">Liquid to Jinja Converter</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <form action="/" method="POST">
                    <div class="form-group textarea-container">
                        <label for="liquidTemplateTextarea">Enter Liquid Template:</label>
                        <textarea id="liquidTemplateTextarea" name="liquid_template" rows="10" class="form-control" placeholder="Enter Liquid template here...">{{ liquid_template }}</textarea>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Convert</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="form-group textarea-container">
                    <label for="jinjaTemplateTextarea">Converted Jinja Template:</label>
                    <textarea id="jinjaTemplateTextarea" rows="10" class="form-control" readonly>{{ jinja_template }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>